@model BTL_THU_VIEN_NHOM_18.Models.NHANVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NHANVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.manv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matmanv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matmanv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hotennv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hotennv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachinv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachinv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaysinhnv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaysinhnv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gioitinhnv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gioitinhnv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sodienthoainv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sodienthoainv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailnv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailnv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayvaolamnv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayvaolamnv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idnhanvien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
