@model IEnumerable<BTL_THU_VIEN_NHOM_18.Models.CHITIETPHIEUMUON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.msdocgia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sophieumuon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mssach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hantra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.msdocgia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sophieumuon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mssach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hantra)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sophieumuonid }) |
            @Html.ActionLink("Details", "Details", new { id=item.sophieumuonid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sophieumuonid })
        </td>
    </tr>
}

</table>
